* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebf2f8;
    font-family: 'Lexend', sans-serif;
    margin-bottom: 80px;
}

.section-computer,
.section-reservation,
.section-utilisateur {
    padding: 40px 5% 0 5%;
}

.section-title {
    font-weight: 700;
    font-size: 20px;
    color: #050d1a;
    margin-bottom: 20px;
}

.computer-container,
.utilisateur-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.computer-card {
    width: 250px;
    padding: 20px 20px 10px 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 32px auto 32px;
    grid-template-rows: 32px 32px;
    grid-column-gap: 15px;
    grid-row-gap: 6px;
}

.computer-card_icon {
    grid-area: 1 / 1 / 2 / 2;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2px;
    display: flex;
}

.icon-etudes {
    background-image: url(../img/icon-computer.png);
}

.icon-gaming {
    background-image: url(../img/icon-computer.png);
}

.computer-card_label {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    font-weight: 500;
    font-size: 17px;
    color: #050d1a;
    align-items: center;
}

.computer-card_action {
    grid-area: 1 / 3 / 2 / 4;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 4px;
    background-color: #4d5fc6;
}

.computer-card_type {
    grid-area: 2 / 1 / 3 / 3;
    font-weight: 500;
    font-size: 15px;
    color: #4d5fc6;
    border-top: 2px solid #F1F4F5;
    display: flex;
    align-items: center;
}

.reservation-table {
    width: 100%;
    border-spacing: 0;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.table-head {
    background-color: #050d1a;
}

.table-header {
    font-weight: 500;
    font-size: 16px;
    padding: 14px;
    color: #FFFFFF;
    text-align-last: left;
}

.table-text {
    font-weight: 500;
    padding: 14px;
    font-size: 16px;
    color: #394250;
}

.table-actions {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 14px;
}

.table-add {
    width: 24px;
    height: 24px;
    background-color: #4d5fc6;
    display: flex;
    border-radius: 2px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-right: 10px;
}

.table-delete {
    width: 24px;
    cursor: pointer;
    height: 24px;
    background-color: #050d1a;
    display: flex;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
}

.table-row:nth-child(even) {
    background-color: #F1F4F5;
}

.utilisateur-card {
    padding: 18px 24px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.utilisateur-card_label {
    margin-right: 16px;
    font-weight: 600;
    font-size: 15px;
    color: #050d1a;
}

.utilisateur-card_status {
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 100px;
    background-color: #dfe1f1;
}

.active {
    background-color: #4d5fc6;
}

.utilisateur-card_actions {
    display: flex;
}

.utilisateur-card_add {
    background-color: #4d5fc6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.utilisateur-card_delete {
    background-color: #050d1a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal,
.modal-computer_box,
.modal-user_box,
.modal-reservation_box {
    position: fixed;
    top: 0;
    padding: 25vh 25vw;
    left: 0;
    background-color: #050d1a86;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    width: 100vw;
    display: none;
    height: 100vh;
}

.modal-computer,
.modal-user {
    width: 100%;
    padding: 24px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border-radius: 2px;
    position: relative;
}


.modal-reservation {
    width: 100%;
    padding: 24px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px auto auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border-radius: 2px;
    position: relative;
}


.modal-computer_title,
.modal-reservation_title,
.modal-user_title {
    font-weight: 700;
    font-size: 22px;
    color: #050d1a;
    text-align: center;
    margin-bottom: 20px;
}

.modal-computer_close,
.modal-user_close,
.modal-reservation_close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    border-radius: 2px;
    height: 24px;
    background-color: #050d1a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.modal-computer_form,
.modal-user_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
}

.modal-reservation_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
}

.computer-form_actions,
.user-form_actions,
.reservation-form_actions
 {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.computer-form_cancel,
.user-form_cancel,
.reservation-form_cancel {
    padding: 12px 16px;
    background-color: #e4edf0;
    color: #050d1a;
    font-weight: 500;
    outline: none;
    border: none;
    font-size: 14px;
    margin-right: 12px;
    cursor: pointer;
    border-radius: 2px;
}

.computer-form_submit,
.user-form_submit,
.reservation-form_submit {
    padding: 12px 16px;
    background-color: #4d5fc6;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.03em;
    outline: none;
    border: none;
    font-family: Lexend;
    cursor: pointer;
    margin-left: 12px;
    border-radius: 2px;
}

.modal-form_label {
    font-size: 15px;
    color: #050d1a;
    font-weight: 500;
}

.modal-form_input {
    height: 40px;
    padding: 0 6px;
    border: 2px solid #e4edf0;
    font-family: Lexend;
    color: #394250;
    margin-bottom: 12px;
}