* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebf2f8;
    font-family: 'Lexend', sans-serif;
}

.section-title {
    font-weight: 700;
    font-size: 20px;
    color: #050d1a;
    margin-bottom: 20px;
}

.computer-container,
.utilisateur-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-bottom: 30px;
}

.computer-card {
    padding: 20px 24px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 28px;
    grid-template-rows: 28px 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 10px;
    position: relative;

}

.computer-card_icon {
    grid-area: 1 / 1 / 2 / 2;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}

.icon-etudes {
    background-image: url(../img/icon-computer.png);
}

.icon-gaming {
    background-image: url(../img/icon-computer.png);
}

.computer-card_label {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    font-weight: 600;
    font-size: 17px;
    color: #050d1a;
    align-items: flex-end;
    margin-right: 25px;
}

.computer-card_delete {
    border-radius: 2px;
    display: flex;
    transition: .3s ease;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #373d48;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;

}

.computer-card_type {
    grid-area: 2 / 1 / 3 / 3;
    font-weight: 600;
    font-size: 15px;
    color: #4D85C6;
    font-style: italic;
    display: flex;
    align-items: center;
}

.reservation-table {
    width: 100%;
    border-spacing: 0;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.table-head {
    background-color: #050d1a;
}

.table-header {
    font-weight: 500;
    font-size: 16px;
    padding: 14px;
    color: #FFFFFF;
    text-align-last: left;
}

.table-text {
    font-weight: 500;
    padding: 14px;
    font-size: 16px;
    color: #050d1a;
}

.table-actions {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 14px;
}

.table-add {
    width: 24px;
    height: 24px;
    background-color: #4D85C6;
    display: flex;
    border-radius: 2px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-right: 10px;
}

.table-delete {
    width: 24px;
    transition: .3s ease;
    cursor: pointer;
    height: 24px;
    background-color: #373d48;
    display: flex;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
}

.table-row:nth-child(even) {
    background-color: #F1F4F5;
}

.utilisateur-card {
    padding: 20px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
    position: relative;
    border-radius: 2px;
}

.utilisateur-card_email {
    grid-area: 2 / 1 / 3 / 3;
    font-weight: 500;
    font-size: 15px;
    margin-right: 20px;
    font-style: italic;
    color: #4D85C6;
}

.utilisateur-card_name {

    margin-right: 20px;
    grid-area: 1 / 2 / 2 / 3;
    font-weight: 600;
    font-size: 16px;
    color: #050d1a;
}

.utilisateur-card_delete {
    background-color: #373d48;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.utilisateur-card_delete:hover,
.computer-card_delete:hover,
.table-delete:hover {
    transition: .3s ease;
    background-color: #050d1a;
}

.modal,
.modal-computer_box,
.modal-user_box,
.modal-reservation_box {
    position: fixed;
    top: 0;
    padding: 25vh 25vw;
    left: 0;
    background-color: #050d1a86;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    width: 100vw;
    display: none;
    height: 100vh;
}

.modal-computer,
.modal-user {
    width: 100%;
    padding: 24px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border-radius: 2px;
    position: relative;
}


.modal-reservation {
    width: 100%;
    padding: 24px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px auto auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border-radius: 2px;
    position: relative;
}


.modal-computer_title,
.modal-reservation_title,
.modal-user_title {
    font-weight: 700;
    font-size: 22px;
    color: #050d1a;
    text-align: center;
    margin-bottom: 20px;
}

.modal-computer_close,
.modal-user_close,
.modal-reservation_close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    border-radius: 2px;
    height: 24px;
    background-color: #050d1a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.modal-computer_form,
.modal-user_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
}

.modal-reservation_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
}

.computer-form_actions,
.user-form_actions,
.reservation-form_actions {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.computer-form_cancel,
.user-form_cancel,
.reservation-form_cancel {
    padding: 12px 16px;
    background-color: #e4edf0;
    color: #050d1a;
    font-weight: 500;
    outline: none;
    border: none;
    font-size: 14px;
    margin-right: 12px;
    cursor: pointer;
    border-radius: 2px;
}

.computer-form_submit,
.user-form_submit,
.reservation-form_submit {
    padding: 12px 16px;
    background-color: #4D85C6;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.03em;
    outline: none;
    border: none;
    font-family: Lexend;
    cursor: pointer;
    margin-left: 12px;
    border-radius: 2px;
}

.modal-form_label {
    font-size: 15px;
    color: #050d1a;
    font-weight: 500;
}

.modal-form_input {
    height: 40px;
    padding: 0 6px;
    border: 2px solid #e4edf0;
    font-family: Lexend;
    color: #394250;
    margin-bottom: 12px;
}

.add-ressource {
    padding: 12px 16px;
    background-color: #4D85C6;
    color: #fff;
    width: fit-content;
    cursor: pointer;
}

.landing-grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto, auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

.landing-navbar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #050d1a;
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-template-rows: 96px 1fr repeat(3, 48px) 1fr 48px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    padding: 20px;
}

.landing-topbar {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #fff;
}

.landing-content {
    grid-area: 2 / 2 / 3 / 3;
    overflow: auto;
    padding: 5%;
    width: 100%;
}

.navbar-logo {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-title {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    color: #4D85C6;
    font-weight: 700;
    font-size: 22px;
}

.navbar-icon1 {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    align-items: center;
}

.navbar-link1 {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.navbar-icon2 {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    align-items: center;
}

.navbar-link2 {
    grid-area: 4 / 2 / 5 / 3;
    display: flex;    color: #fff;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
}

.navbar-icon3 {
    grid-area: 5 / 1 / 6 / 2;
    display: flex;
    align-items: center;
}

.navbar-link3 {
    grid-area: 5 / 2 / 6 / 3;
    display: flex;    color: #fff;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
}

.navbar-footer {
    grid-area: 7 / 1 / 8 / 3;
}